@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@config "../tailwind.config.js";
@import "tailwindcss";

@layer base {
    * {
        font-family: 'Geist', serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        background-color: #17181A;
        color: #ffffff;
    }
}
